.CountGral{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.count{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.btn{
    border-color: #dd137b;
    border-radius: 50% !important;
    cursor: pointer;
    font-size: 17px;
    margin: 4px;
}

.btn:hover{
    background: #efefef;
    color: black;
}

.btnCarrito{
    margin-bottom: 20px;
    cursor: pointer;
    background: #dd137b ;
    color: #fff;
    border-radius: 10px;
}
.btnCarrito:hover{
    transform: translateY(2px);
    /* background: #292828e8; */
    /* background: #b3a8ab; */
    /* color: white; */
}
